
  body {
    font-family:"Poppins", sans-serif;
    }
 .intro{
  padding-top: 7.5rem ;
  }
     
    .btn-2:hover{
    background-color: rgba(0, 0, 0, 0.8);
      border: 1px solid #f58a07;
    }        
 .card{
   background-color: #FFFFFF;
    border-radius: 1.25rem;
 }  
 
.pop-up-text{
   visibility: hidden;
   border-radius: 1.25rem;
}
.team:hover .pop-up-text{
   visibility: visible !important;
    cursor: pointer; 
   opacity: 0.5;
   color: #FFFFFF !important;
   background-color:rgba(0, 0, 0, 0.8) !important;
} 


.author-title {
  color: #f58a07;
}

.vido-btn{
  background-color: #ffffff;
  border: 1px solid transparent;
  outline: none;
}

.vido-btn:hover{
  background-color: transparent;
  border: 1px solid #f58a07;
}

.play-button{
  margin-left: 20px;
  margin-bottom: 20px;
}

.play-text{
  color: #ffffff;
}

.play-btn{
  padding: 14px 10px;
}

.author-name{
  margin-bottom: 5px;
}


 #intro-space {
   width: 100%;
   max-width: 64.875rem;
   
}

@media(min-width: 768px){
  .heading-text{
    font-size: 1.6rem;
  }
}

@media(min-width: 992px){
  .heading-text{
    font-size: 2.5rem;
  }
}

@media(min-width: 1200px){
  .heading-text{
    font-size: 3rem;
  }
}