.nav-link {
  color: #394149 !important;
  font-weight: 600 !important; 
  transition: color 0.3s;
  font-size: 16px;
  padding-left: 1.25rem;
  
}
.nav-link:hover {
  color: #000 !important;
}
.clone-btn {
  background-image: linear-gradient(#F58A071A,#F58A071A) !important;
  color: #F58A07 !important;
  border-radius: 20px !important;
  padding: 8px 20px;
  font-weight: 600;
  border: none;
  transition: background 0.3s ease-in-out;
  
}
.clone-btn:hover {
  background-image: linear-gradient(#F58A071A,#F58A071A) !important;
  color: #F58A07;
}
  body {
    font-family:"Poppins", sans-serif;
    }

     
    .btn-2:hover{
    background-color: rgba(0, 0, 0, 0.8);
      border: 1px solid #f58a07;
    }        
 .card{
   background-color: #FFFFFF;
    border-radius: 1.25rem;
 }  
 
.pop-up-text{
   visibility: hidden;
   border-radius: 1.25rem;
}
.team:hover .pop-up-text{
   visibility: visible !important;
    cursor: pointer; 
   opacity: 0.5;
   color: #FFFFFF !important;
   background-color:rgba(0, 0, 0, 0.8) !important;
} 


 #intro-space {
   width: 100%;
   max-width: 64.875rem;
   
}
.footer {
  background-color: #063255 !important;
  padding-bottom: 50px;
  background: url(../images/Shape\ Right.png),
    url(../images/Shape\ Left.png);
  background-repeat: no-repeat;
  background-position: top 38px right, bottom left;
  background-size: 2.375rem 12.5rem, 2.375rem 6.5625rem;
}
footer {
  background-color: #063255;
  background-image: url(./images/Shape\ Left.png), url(./images/Shape\ Right.png);
  background-repeat: no-repeat;
  background-position: bottom left, top 1.875rem right;
  background-size: 2.6875rem 6.25rem, 2.6875rem 12.5rem;
}

.last-sec {
  display: flex;
  justify-content: space-between;
}

.policy {
  display: flex;
  gap: 1rem;
}

@media(min-width: 768px){
  .heading-text{
    font-size: 1.6rem;
  }
}

@media(min-width: 992px){
  .heading-text{
    font-size: 2.5rem;
  }
}

@media(min-width: 1200px){
  .heading-text{
    font-size: 3rem;
  }
}