*{
    font-family: "Poppins", sans-serif;
}



.blog-header{
    background-color: #DCEAF5;
    padding: 5rem 10rem;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
}

.blog-area{
    background-color: #ffffff;
    
}

.member-text{
    color: #394149;
    font-size: 0.8rem;
}

.header-text{
    color: #1D3444;

}

.header-subtext{
    color: #5b5b5b;
    line-height: 30px;
    /* width: 30.5rem; */
}

.header-link{
    color:#F58A07;
    text-decoration: none;
}

.header-link:hover{
    text-decoration: underline;
    padding-bottom: 2px;
}

.blog-content{
    background-color: #EDF7FF;
    border-bottom-right-radius: 1.4rem;
    border-bottom-left-radius: 1.4rem;

}

.blog-item{
    width: 15rem;
}

.blog-head-text{
    color: #0D1317;
    line-height: 30px;
}

.blog-text{
    font-size: 0.89rem;
    line-height: 26px;
    color: #5b5b5b;
}

.blog-grid{
    background-color: #ffffff;
}




@media screen and (max-width:780px) {
    .header-subtext{
        width: auto;
    }

    .blog-header{
        padding: 1rem 2rem;
    }

    .blog-item{
        width: 100%;
    }
}