
body {
  font-family:"Poppins", sans-serif;
  }

.nav-link {
  color: #394149 !important;
  font-weight: 600 !important; 
  transition: color 0.3s;
  font-size: 1rem;
  padding-left: 1.25rem;
  
}
.nav-link:hover {
  color: #000 !important;
}
.clone-btn {
  background-image: linear-gradient(#F58A071A,#F58A071A) !important;
  color:#F58A07 !important;
  border-radius: 1.25rem !important;
  padding: .5rem 1.25rem;
  font-weight: 600;
  border: none;
  transition: background 0.3s ease-in-out;
  
}
.clone-btn:hover {
  background-image: linear-gradient(#F58A071A,#F58A071A) !important;
  color: #F58A07;
}

 .btn a {
  text-decoration: none;
  color: #F58A07;
 }
  .card{
    background: #DCEAF5;
    border-radius: 1.25rem;
  }
  .card-2{
    background-color: #FFFFFF;
    border-radius: 1.25rem;
  }
 #intro-space {
  width: 100%;
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 0 1.125rem;
  /* mix-blend-mode: multiply; */
}
  .footer {
    background-color: #063255 !important;
    padding-bottom: 3.125rem;
    background: url(../images/Shape\ Right.png),
      url(../images/Shape\ Left.png);
    background-repeat: no-repeat;
    background-position: top 2.375rem right, bottom left;
    background-size: 2.375rem 12.5rem, 2.375rem 6.5625rem; 
  }
  .card-title{
    color: #0D1317;
  }
  
@media(max-width: 576px){
  .heading-text, .heading-text-2{
    font-size: 1.125rem;
    font-weight: 500;
  }
  .paragraph, .paragraph-2{
    font-size: .75rem;
    font-weight: 400;
  }
  .card-title, .card-title-2{
    font-size: 1rem;
    font-weight: 400;
  }
}

@media(min-width: 768px){
  .heading-text{
    font-size: 1.875rem;
    font-weight: 400;
  }
  .heading-text-2{
    font-size: 1.5625rem;
    font-weight: 400;
  }
  .card-title, .card-title-2{
    font-size: 1.125rem;
    font-weight: 400;
  }
  .paragraph, .paragraph-2{
    font-size: .8125rem;
    font-weight: 400;
  }
} 

@media(min-width: 992px){
  .heading-text{
    font-size: 2.6875rem;
    font-weight: 500;
  }
  .heading-text-2, .heading-text-3{
    font-size: 1.875rem;
    font-weight: 500;
  }
  .card-title, .card-title-2{
    font-size: 1.25rem;
    font-weight: 500;
  }
  .paragraph{
    font-size: .9375rem;
    font-weight: 500;
  }
}
 
@media(min-width: 1200px){
  .heading-text{
    font-size: 3.125rem;
    font-weight: 600;
  }
  .heading-text-2{
    font-size: 2.5rem;
    font-weight: 600;
  }
  .card-title{
    font-size: 1.625rem;
    font-weight: 500;
  }

  }
  